.services-section {
  margin-top: -10px;
  overflow: hidden;
  width: 100%;
  color: var(--body-text);
}
.services-title {
  font-weight: 700;
  color: var(--heading-text);
}
.services-heading {
  font-weight: 700;
  color: var(--heading-text);
}
.services-text {
  text-align: left;
}

@media only screen and (max-width: 760px) {
  .services-section {
    margin-top: 80px;
  }
  .service {
    margin-bottom: 80px;
  }
}
