.hero {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
  overflow: hidden;
}
.hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 5.5px;
  background: rgba(0, 0, 0, 0.6);
}
.hero-heading {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  margin-top: 200px;
}
