.Navbar {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.logo {
  font-size: 20px;
  float: left;
  color: var(--pri-color);
  text-decoration: none;
  /* margin-top: -20px; */
}
.logo:hover {
  color: var(--pri-color);
  text-decoration: none;
}
.c-menu {
  text-align: right;
}
.nav-scroll {
  background: var(--main-bg);
}
.hide {
  display: none;
}
.c-menu li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}
.black-text {
  color: #000;
}
.c-menu li a {
  color: var(--white-text);
  text-decoration: none;
}
.c-menu li a:hover {
  color: var(--sec-color);
  text-decoration: none;
}
.mobile {
  display: none;
}
.show {
  display: block !important;
}
.m-icon {
  float: right;
  margin-top: -30px;
  cursor: pointer;
}
.bar {
  width: 18px;
  height: 1px;
  background-color: var(--body-text);
  margin-bottom: 3px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .m-icon {
    margin-top: 30px;
    float: right;
  }
  .m-icon:focus {
    box-shadow: none;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
  }
  .c-menu {
    position: absolute;
    width: 250px;
    right: 0px;
    top: 0px;
    background: var(--pri-color);
    height: 100%;
    padding: 0px;
    /* z-index: 1000; */
  }
  .c-menu li {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .c-menu li a {
    color: #fff;
  }
  .m-close {
    position: absolute;
    right: 250px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fff;
    padding-left: 18px;
    padding-top: 20px;
    z-index: 10;
  }
  .m-close .bar:nth-child(2) {
    display: none;
  }
  .m-close .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  .m-close .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
  }
}
