* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: var(--main-bg);
}
html {
  --main-bg: #fff;
  --pri-color: #1d3387;
  --pri-dash-color: #1d3387;
  --sec-color: #ee9b57;
  --body-text: #7e7777;
  --heading-text: #3c3a3a;
  --white-text: #ffffff;
  --black-text: #000;
  --location-bg: linear-gradient(to right, #1d3387 50%, #f5f5f5 0%);
}
/* dark mode */
.dark {
  --main-bg: #000;
  --pri-color: #1d3387;
  --pri-dash-color: #211f1f;
  --sec-color: #ee9b57;
  --body-text: #ccc;
  --heading-text: #fff;
  --white-text: #fff;
  --black-text: #fff;
  --location-bg: linear-gradient(to right, #211f1f 50%, #363232 0%);
  transition-delay: 0.4s;
}
body {
  font-size: 14px;
  background: var(--main-bg);
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
